.walls {
  width: 800px;
  height: 800px;
  border: 2px solid black;
  margin: 0 auto;
}

polygon.player {
  /*stroke: black;*/
  /*stroke-width: 1;*/
  fill: black;
}

.projectile {
  fill: black;
}
